extends layout

block content
  h1= title
  //img(src= "http://vignette4.wikia.nocookie.net/rio/images/e/ea/Yellow_Canary.png/revision/latest?cb=20130726050704")
  p Welcome to #{title}
  p  - and a new version!
  p  - even newer features, and an additional one soon.
  p  - very,very soon!
  p  - very,very,very soon!
  p  - DevService demo 
